<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1009145966223-bq9cm6jqibgt66te5h20oh8mv5t29cbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1009145966223-bq9cm6jqibgt66te5h20oh8mv5t29cbe</string>
	<key>API_KEY</key>
	<string>AIzaSyBIs72YvBoLrrYK11NQ6yMl8zAsoivJ5IY</string>
	<key>GCM_SENDER_ID</key>
	<string>1009145966223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lamsaitat.tigerspike.LandmarkRemark</string>
	<key>PROJECT_ID</key>
	<string>ts-landmark-remark-lamsaitat</string>
	<key>STORAGE_BUCKET</key>
	<string>ts-landmark-remark-lamsaitat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1009145966223:ios:e55bc864d5b05684</string>
	<key>DATABASE_URL</key>
	<string>https://ts-landmark-remark-lamsaitat.firebaseio.com</string>
</dict>
</plist>